rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permite que cualquiera pueda leer y escribir en la colección 'shifts'.
    // Esto es muy permisivo y se ajusta a la necesidad de una app pública y abierta.
    match /shifts/{shiftId} {
      allow read, write: if true;
    }
  }
}
