rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permite que cualquiera pueda leer y escribir en cualquier colección.
    // Esto es muy permisivo y solo debe usarse si no se maneja información sensible.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
