rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas permisivas: Cualquiera puede leer y escribir.
    // La seguridad se basa en que solo el personal de confianza tiene el enlace a la app.
    match /shifts/{shiftId} {
      allow read, write: if true;
    }
  }
}
